{% extends '::template.html.twig' %}

{% block title %}Login Page{% endblock %}

{% block titlePage %}{{ block('title') }}{% endblock %}
    
{% block content %}
    {{ parent() }}
    {% block login %}{% endblock %}
        
    <section class="login-form">
        <article>

            {% if error %}
    {#            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
                <div>{{ error.message|trans }}</div>
            {% endif %}

            <form action="{{ path('login_check') }}" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />

                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" />
                <input type="checkbox" name="_remember_me" />
                Remeber me
                

                <button type="submit">login</button>
            </form>
        </article>
    </section>    
{% endblock %}

