{# app/Resources/views/index.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets filter="cssrewrite" output="css/app.css"    
        '%kernel.root_dir%/Resources/assets/css/test.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block title %}Index Blog Page{% endblock %}

{% block body %}
    {{ parent() }}
    {% if app.user %} <a href="{{ path('blog_logout') }}#home">Logout</a> {% endif %}
    
{#    <div>{{ var% if app.user %} <a href="{{ path('blog_logout') }}#home">Logout</a> {% endif %}</div>#}
<div>{{ dump(app.user) }}</div>
    
    {#{% block javascripts %}
        {% javascripts '%kernel.root_dir%/Resources/assets/js/test.js' 'web/js/test2.js' %}
            <script src="{{ asset_url }}" type="text/css"></script>
        {% endjavascripts %}
    {% endblock %}#}
    
    {% block javascripts %}
        {% javascripts output="js/test2.js"  '%kernel.root_dir%/Resources/assets/js/test.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    
{% endblock %}
