{# app/Resources/views/blog/about.html.twig #}
{% extends '::template.html.twig' %}

{% block title %}About{% endblock %}

{% block titlePage %}{{ block('title') }}{% endblock titlePage %}

{% block content %}   
    {% block flashMessages %}
        {{ parent() }}
    {% endblock %}

    {% block menu %}
        {{ parent() }}
    {% endblock %}
        
    {% block login %}
        {{ parent() }}
    {% endblock %}
    
    {% block oneColumn %}
        <div class="one-side">
            {% block oneSide %}
                {{ block('title') }} lorem Lipsum dorel sic at ...
            {% endblock %}
        </div>
    {% endblock %}
                
{% endblock %}