{# app/Resources/views/default/index.html.twig #}
{% extends '::template.html.twig' %}

{% block title %}Edit a post{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="title-page">{% block titlePage %}New Blog Page 1 {% endblock %}</div>
    
    <form action="{{ path('edit_post', { 'id': entity.id }) }}" method="POST">
        
        {{ form_errors(form) }}        
        {{ form_row(form.title) }}
        {{ form_row(form.body) }}
        {{ form_rest(form) }}
        
        <input type="submit" value="Register!" />
    </form>
    
{% endblock %}