
    {% block item %}
        <article>
            <div class="title">
                <h1>
                    {% block itemTitle %}                        
                        {{ post.title }}
                    {% endblock %}
                </h1> 
                <small>
                    Posted by by user"{{ post.createdBy }}" - on date {{ post.createdDate|date("m/d/Y") }} -  last update {{ post.updatedDate|date("m/d/Y") }}
                </small>
            </div>
            <div class="body">
                <h3>{{ post.body }}</h3>
            </div>
            <div class="comment">
                {% for comment in post.comments.getValues %}
                <h4>
                    {{ comment.body }}

                    {% if app.user and app.user.username == post.createdBy %} 
                        <a href="{{ path('edit_comment', {'id': comment.id}) }}#home">Edit comment</a> 
                    {% endif %}
                </h4>
                <h6>Commented by user"{{ comment.createdBy }}" | on date {{ comment.createdDate|date("m/d/Y") }} |  last update {{ comment.updatedDate|date("m/d/Y") }}</h6>
                {% endfor %}
            </div>

            <div class="add-comment">
                <a href="{{ path('new_post') }}">Add a new post</a> | 
{#                {% if (app.user.username == post.createdBy ) or (app.user and ("ROLE_ADMIN" in app.user.roles)) %} #} {# is_granted('ROLE_ADMIN') #}
                {% if (app.user and app.user.username == post.createdBy) or is_granted('ROLE_EDIT') %}
                    <a href="{{ path('edit_post', {'id': post.id}) }}">Edit post</a> | 
                    <a href="{{ path('delete_post', {'id': post.id}) }}">Delete</a> | 
                {% endif %}
                <a href="{{ path('new_comment', {'post_id': post.id}) }}">Add a comment</a>
            </div>
        </article>
    {% endblock %}