{# app/Resources/views/comment/index.html.twig #}
{% extends '::template.html.twig' %}

{% block title %}Edit Comment Page{% endblock %}

{% block titlePage %}{{ block('title') }}{% endblock %}
    
    {% block content %}
        {% embed '::2column.html.twig' %}
            {% block leftSide %}
                <form action="{{ path('edit_comment', {'id': app.request.get('id') }) }}" method="POST">
        
                    {{ form_errors(form) }}
                    {{ form_row(form.body) }}
                    {{ form_rest(form) }}

                    <input type="submit" value="Register!" formnovalidate />
                </form>
            {% endblock %}
            {% block rightColumn %}
                {% include '::blog/menu.html.twig' %}
            {% endblock %}
        {% endembed %}
    {% endblock %}