{# app/Resources/views/comment/index.html.twig #}
{% extends '::template.html.twig' %}

{% block title %}Comments page{% endblock %}

{% block titlePage %}{{ block('title') }}{% endblock %}
    
    {% block content %}
        {% embed '::3column.html.twig' %}
            {% block centerSide %}
                
                <div class="articles">
                {% for comment in comments %}
                    <article>
                        <div class="title">
                            <small>
                                Posted by by user"{{ comment.createdBy }}" - on date {{ comment.createdDate|date("m/d/Y") }} -  last update {{ comment.updatedDate|date("m/d/Y") }}
                            </small>
                        </div>
                                <div class="body"><h3>5555 {{ comment.body|raw }}</h3></div>

                        <div class="add-comment">
                            {% if app.user and app.user.username == comment.createdBy %}
                                <a href="{{ path('edit_comment', {'id': comment.id}) }}">Edit comment</a>
                            {% endif %}
                        </div>
                    </article>
                    <hr>
                {% endfor %}
                </div>
                
            {% endblock %}
        {% endembed %}
    {% endblock %}